<h1>Porfolio Items</h1>

<%# link_to("Create New Item", new_portfolio_path, subdomain: "my_url_path") %>

<%= link_to("Create New Item", new_portfolio_path) %><br />

<%= render(partial: 'portfolio_item', collection: @portfolio_items) %>
