<div class="app-card-container">
  <div class="card">  
    <h1>Would you like to collaborate?</h1>
    <hr>
    <div class="row">
      <div class="col-md-6 contact-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore a fugiat recusandae quas nam provident, officia cumque autem voluptatibus quis modi iusto similique. Eaque perspiciatis, asperiores possimus aperiam mollitia accusantium?</p>

        <h3>Office Address </h3>
        <p><%= number_to_phone "5555555555" %></p>
        <h3>Email</h3>
        <p><a href="mailto:akel@maat.bu.edu?subject=PortfolioContact">Email me</a></p>
        <p><%= number_to_currency "55" %></p>
        <p><%= number_to_percentage "0.5" %></p>
        <p><%= number_with_delimiter "150450980128450912" %></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d312.8827415495667!2d153.0243337917903!3d-27.47348894531638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a056e8bb6ff%3A0x4ec72df420602940!2sDepartment+of+Primary+Industries+Building+(former)!5e0!3m2!1sen!2sau!4v1530924288487" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  
      </div>
    </div>
  </div>
</div>




